@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One|Teko|Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}
    body, html {
        width: 100%;
        height: 100%;
    }
    body {
        background-color: #acbab8; 
        font-family: Trebuchet MC, Helvetica;
    }
header {
    width: 100%;
    padding: 20px 0.5% 12px 0.5%;
    background: rgba(0, 0, 0, 0.50);
    float: right;
    position: fixed;
}
   header #logo {
       color: #fff;
       cursor: pointer;
   }
    header #logo span {
        font-size: 2.3em;
        line-height: 10px;
        margin-left: auto;
        margin-bottom: auto;
        font-family: 'GothicE';
    }
    header #Navigation {
        font-family: GothicE;
        font-size: 1.7em;
        width: 100%;
    }
    /*Добавим чутка адаптивности для маленьких экранов*/

@media (max-width:800px) {
    header #logo span {
        font-size: 1.8em;
        float: none;
        width: 100%;}
    }

    @media (max-width:800px) {
        #logo {
            font-size: 1.0em;
            float: none;
            width: 100%;
        }

        #Navigation a {
            font-size: 0.8em;
            float: none;
            width: 100%;
        }
    }

    #Navigation > a {
        color: #fff;
    }



        #Navigation > a:hover {
            text-decoration:  overline;
            text-decoration-color: blueviolet;
            text-decoration-style:none ;
        }

        #Navigation > a:not(:last-child) {
            margin-right: 5%;
        }

    .fixed {
        z-index: 5000;
        border-bottom: 1px solid silver;
    }

    header .fixed #logo {
        color: #ff0000;
    }

    .fixed #Navigation a {
        color: #fff
    }

        .fixed #Navigation a:hover {
    text-decoration: overline;
    text-decoration-color: blueviolet;
    text-decoration-style: none;
}

    /* 1. Блок "#top"
    2. В этот момент я осознал что "article"... */

#top {
    width: 100%;
    height: 100%;
    background: url(https://avatars.mds.yandex.net/get-pdb/467185/b3cd4614-e8c2-4cac-801e-307472e69ce8/s1200?webp=false) no-repeat center top;
    background-size: cover;
    background-color: none;
    text-align: center;
    font-family: 'GothicE';
    color: #FFF;
}
    #top h1 {
        padding: 40% 1px 1% 1px;
        opacity: 1;
        font-size: 3.4em;
        text-decoration: none;
    }

    @media (max-width:800px) {
        #top h1 {
            
            font-size: 2.2em;
            float: none;
            width: 100%;
        }
}


/*  Блок "#main" со специальностями*/

#main {
    width: #top;
    height: 100%;
    background: url(https://miro.medium.com/max/1200/1*leT6ftmXam6V1MPhpR1Qzw.jpeg) no-repeat center top;
    background-size: cover;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Dutch801 Rm BT';
    color: white;
    padding: 3%;
    font-size: 1.15em;
    text-shadow: 30px 25px 10px #b200ff;
    text-indent: 50px;
    
}

#main h2 {
    text-align: center;
    color:#fff;
    font-size: 2.3em;
    padding: 10px;
    text-indent: initial;
}
@media (max-width: 800px){
    #main {
        font-size: .8em;
    }
}

/* 3. Блок "#advantages"*/

#advantages {
    width: #top;
    height: 100%;
    background: url(https://img2.goodfon.ru/original/1920x1200/6/87/tuman-doroga-stupeni.jpg) no-repeat center top;
    background-size: cover;
    background-color: none;
    text-align:  justify;
    font-family: 'Mongolian Baiti';
    color: #ffffff;
    padding: 10%;
    font-size: 2.3em;
    text-shadow: 15px 15px 40px blueviolet;
    
}

#advantages h2 {
    text-align: center;
    color: #fff;
    font-size: 1.3em;
    padding: 5px;
}

.text-typing {
    width: 40em;
    color: green;
    font-size: 22px;
    font-family: 'Marck Script', cursive;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}


/* 4. Блок "#contacts"*/




#contacts {
    width: #top;
    height: 100%;
    background: url(http://vacuumtronic.by/wp-content/uploads/2019/05/call-us2.jpg) no-repeat center top;
    background-size: cover;
    background-color: none;
    text-align: justify;
    font-family: 'Mongolian Baiti';
    color: white;
    padding: 2%;
    font-size: 1.3em;
    text-align: center;
    }

#contacts h2 {
    text-align: center;
    color: #fff;
    font-size: 2.3em;
    padding: 1px;
}

@media (max-width: 800px) {
    #contacts {
        font-size: .9em;
    }
}

/* 5. Блок "#write_me_baby"*/

#write_me_baby {
    width: #top;
    height: 100%;
    background: url(https://disshelp.ru/blog/wp-content/uploads/2019/08/studying-on-computer.jpg) no-repeat center bottom;
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 70px;
    font-family: 'GothicE';
    color: black;
    padding: 6%;
}
    #write_me_baby h3 {
        font-family: 'GothicE';
        font-size: 2.5em;
        color: black;
    }
    #form_input {
        margin-top: 15px;
        width: 35%;
        margin-left: 38%;
        font-size: 1.5em;
}

    #form_input label {
    cursor: pointer;
    }

    #form_input label > span {
        color: red;
    }
        #form_input input, #form_input textarea {
            margin-bottom: 10px;
            width: 50%;
            padding: 10px, 2%;
            border-radius: 6px;
            border: solid silver;
            font-size: 0.8em;
            color: #808080;

        }

        #form_input input:focus, #form_input textarea:focus {
            border-color: #b200ff;

        }

        .btn {
            float: left;
            border-radius: 6px;
            cursor: pointer;    
        }

        .btn:hover {
            background-color: #fff;
        }